body{
}  
.malik{
	background-image: url(https://images8.alphacoders.com/532/thumb-1920-532219.jpg);
	background-size: 2000px 1000px;
	background-color: black;
}
.ak{
	margin-left:1100px;
}
.länk{
	  margin-bottom:1000px;
}
.text{
	color:red;