body{
   color: green;
   background-color: white;
   font-style: Arial;
    font-size: 22px;
   }
p{color: black;
background-color: white;
}
p.malik{
text-shadow: -1px solid white;
}
p.malik1{
border: 2px solid black;
}
p.malik{
text-align:  
    