body{
}  
.malik{
	background-image: url(https://images8.alphacoders.com/532/thumb-1920-532219.jpg);
	background-size: 2000px 1000px;
	background-color: black;
}
.ak{
	margin-left:1100px;
}
.länk{
	  margin-bottom:1000px;
}
.text{
	color:red;
}
.bakgrund{
	background-image: url(https://3.bp.blogspot.com/-34JGT5jQLC8/W95E9nJ0TzI/AAAAAAAAAUU/mQKLmdRwN54ctCdTGMpjwq0bpygn2t8hgCHMYCw/s1600/famous-fictional-weapons-wallpaper-1600x900-id55617.jpg);
}
.txt{
	color:red;
}

